<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./CSS/style.css">
    <title>About us</title>
</head>
<body>
    {{>header}}
    <h1>This is About us Page</h1>
    <h2>{{title}}</h2>
    {{>footer}}
    {{!-- <h3>creatd by : {{name}}</h3> --}}

    <script src="./JS/validation.js"></script>
</body>
</html>