
<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./CSS/style.css">
    </head>

    <body>
        {{>header}}
        <h1>This is Help page</h1>
        <h2>{{title}}</h2>
        {{>footer}}
        {{!-- <h3>creatd by : {{name}}</h3> --}}


        <img src="./images/boy.jpg" alt="bodImage">
        <script src="./JS/validation.js"></script>
    </body>
    
</html>