<!DOCTYPE html>
<html>
    <head>

    </head>
        <link rel="stylesheet" href="./CSS/style.css">
    <body>
        {{>header}}
        <h1>Weather App</h1> 
        <h1>{{title}}</h1>
        
        <p>Here you get searched value</p>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <form >
            <input type="text" placeholder="Location" >
            <button>Search</button>
        </form>

        {{>footer}}
        
        
        <img src="./images/boy.jpg" alt="bodImage">
        <script src="./JS/validation.js"></script>
    </body>
</html>