<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    {{!-- <script src="/js/dom.js"></script> --}}
  
    <title>Home</title>
</head>
<body>

    <div class="row">

        <p>{{name}}</p>

        <div class="box">
            <h2 id="center-heading"></h2>
            <form action="sendEmail" method="POST" id="send-email-form">
            
            <table>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input type="email" name="email" id="email"></td>
                </tr>
                <tr>
                    <td><label for="content">Content</label></td>
                    <td><textarea name="content" id="content" cols="20" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" value="submit">Send</button></td>
                </tr>
            </table>

        </form>

        <form action="/logout" method="POST">
            <button type="submit" value="submit" style="margin-left:100px;margin-top:10px;width: 100px; height:30px; background-color:rgb(42, 42, 241);color:white ">Logout</button>
        </form>

        <form action="/receivedEmails" method="POST">
            <button type="submit" value="submit" style="margin-left:100px;margin-top:10px;width: 100px; height:30px; background-color:rgb(42, 42, 241);color:white ">My Emails</button>
        </form>

        <form action="/sentEmails" method="POST">
            <button type="submit" value="submit" style="margin-left:100px;margin-top:10px;width: 100px; height:30px; background-color:rgb(42, 42, 241);color:white ">Sent</button>
        </form>

        </div>
    </div>
    <script type="text/javascript" src="/js/dom.js"></script>

</body>
</html>