<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
    

    <div class="row">
        <div class="left-column-home">
            <div class="profile-div" id="profile-div">
                <h2 style="text-align: center;">Profile</h2>
                <div id="profile-pic-div"></div>
            </div>

        </div>

        <div class="middle-column-home" id="main-div">
            <h1>Welcome to User System</h1>
            <h6>{{info}}</h6>
        </div>

        <div class="right-column-home">
            <form action="/logout" method="POST">
                <button type="submit" name="logout" value="submit" id="logoutbtn">Logout</button>
            </form>
        </div>
    </div>



    <script type="text/javascript" src="/js/dom.js"></script>
</body>
</html>