<!DOCTYPE html>
<html>
    <head>
        <title>User System</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       

        <div class="row">
            <div class="column-1"></div>
            
            <div class="column-2">
                <h1>Welcome to User System</h1>

                <form action="/registration" method="POST" > 
                    <table>
                        <tr>
                            <th>Name</th>
                            
                            <td><input type="text" name="Name" ></td><br><br>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="email" name="email" /></td><br><br>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td><input type="number" name="phone" /></td><br><br>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td><input type="text" name="company" /></td><br><br>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td><input type="text" name="city" /></td><br><br>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="text" name="password" /></td><br><br>
                        </tr>
                        <tr>
                            <th>Confirm Password</th>
                            <td><input type="text" name="confirmPassword" /></td><br><br>
                        </tr>
                        <tr>
                          
                            <td><button type="submit" value="Submit" name="submit">Register</button><br><br>
                        </tr>
                        <tr>
                            <td><a href="./login">login</a><br><br>
                        </tr>
                    </table>  

                </form>

            </div>
            
            <div class="column-3"></div>
            

        </div>




    </body>
</html>







