<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        

        <div class="row">
            <div class="column-1"></div>
            
            <div class="column-2">
                

                <form action="/login" method="POST" > 
                    <table>
                        <tr>
                            <td></td>
                            <td><h2 style="margin-top: 150px;"> User Login</h2></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="email" name="email" /></td><br><br>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="text" name="password" /></td><br><br>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" value="Submit" name="submit">Login</button><br><br>
                        </tr>
                        
                    </table>  

                </form>

            </div>
            
            <div class="column-3"></div>
            

        </div>




    </body>
</html>