<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    
    <h1>Welcome to news apps</h1>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <form action="/home" method="post">
            
                <select id="countryName" name="countryName">
                    <option value="">-- Country --</option>
                    <option value="IN">India</option>
                    <option value="US">America</option>
                    <option value="ID">Indonesia</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israil</option>
                    <option value="MX">Mexico</option>
                    <option value="NZ">New Zealand</option>
                    
                </select>
                
                <select  id="newsCategory" name="newsCategory">
                    <option value="">-- Category --</option>
                    <option value="technology">Technology</option>
                    <option value="business">Business</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="general">General</option>
                    <option value="health">Health</option>
                    <option value="sports">Sports</option>
                    <option value="science">Science</option>
                    
                </select>
                <br><br>
                <button type="submit" value="submit" class="searchButton">Search</button>
            
            </form>
            
            
            
        </div>
        <div class="column"></div>
    </div>

    <script src="/js/validation.js"></script>
</body>
</html>