<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>

        <div class="row">

            <div class="left-column"></div>
            <div class="main-column">
                <h1 style="text-align: center;">Welcome to Chat App</h1>

                <div class="screen">
                    <div class="chat-box" id="chat-box">
                        {{!-- <div class="msg right"></div>
                        <div class="msg left"></div> --}}
                    </div>
                    <div class="send">
                        <form  id="form" >
                            
                            <input type="text" class="msg-input" id="msg-input" name="message">
                            <button type="submit" class="sendbtn" value="submit" id="sendbtn">Send</button>
                        </div>
                        </form>
                    </div>
                        

                    
                    
                </div>

            </div>
            <div class="right-column"></div>
            
        </div>

        
        <script type="text/javascript" src="/js/server.js"></script>
        
    </body>
</html>